$hover-color: rgba(47, 141, 248, 0.99);
$coloured-add-button: #3e4760;
$keyboard-hover-color: #e3f1fe;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'open sans', 'Overpass', sans-serif;
}

.modal-body {
  width: 751px;
  height: 661px;
  margin: 0 auto;
  padding: 20px 32px;
  border: 1px solid #c4c4c4;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .productlist ul {
    max-height: 450px;
    overflow-y: auto;
  }

  .nohoverproductlist:hover {
    background: $hover-color;
    transition: 0.13s ease-in-out;
  }
}

.modal-content {
  height: 570px;

  .supplier-list {
    ul {
      margin-top: 24px;

      .items:hover {
        background: $hover-color;
        transition: 0.4s ease;
        border-radius: 0px;
      }

      li {
        list-style: none;
        width: auto;
        height: 40px;
        padding-top: 9.75px;
        padding-bottom: 9.75px;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 5px;
        padding-left: 20px;
        color: #3e4760;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }
    }

    a {
      padding-right: 92%;
    }
  }

  .product-list {
    margin-top: 24px;
    list-style: none;

    li {
      border-bottom: 1px solid #e5e5e5;
      list-style: none;
      padding-left: 20px;

      h2 {
        color: #7b7b7b;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        flex-wrap: wrap;
      }

      label {
        padding-bottom: 0px;
      }

      &.no-bottom-border {
        border-bottom: none;
        background: #f5f5f5;
      }

      a {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: space-between;
      }

      ul {
        li {
          padding-left: 0px;
          display: flex;
          font-family: 'Segoe UI';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;

          .productCount {
            height: 28px;
            width: 68px;
            margin-left: auto;
            margin-right: 25px;
            border: 1px solid #c4c4c4;
            border-radius: 3px;
            padding-left: 5px;
            margin-top: 10px;
            flex-direction: row;
            justify-content: flex-end;
            outline: none;

            &.invalid-input {
              outline: 2px solid red;
              border: red;
            }
          }

          label {
            padding: 10px;
            padding-left: 0px;
            accent-color: $hover-color;

            input {
              margin-right: 15px;
            }
          }
        }
      }

      a {
        padding-bottom: 4px;
        padding-top: 4px;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-left: 0;
  }

  .arrow {
    height: 18px;
    transform: rotate(0deg);

    &.rotate {
      transform: rotate(90deg);
    }
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      background: white;
      font-size: 20px;
      color: #7b7b7b;
      line-height: 28px;
      font-weight: 400;
    }

    button {
      background: white;
      text-decoration: none;
      border: none;
    }
  }
}

.modal-search {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 11px 30px 11px 12px;
  gap: 10px;
  height: 42px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 3px;

  img {
    cursor: pointer;
  }

  input {
    text-decoration: none;
    border: none;
    background: white;
    width: 100%;
    outline: 0;

    ::placeholder {
      color: #c4c4c4;
    }
  }
}

.button-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  align-items: center;

  button {
    padding: 12px 24px;
    font-weight: 400;
    font-size: 14px;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 3px;

    &.active {
      color: #808285;
      transition: 0.13s ease-in;
      cursor: pointer;
    }

    &.add-color {
      background: $coloured-add-button;
      transition: 0.13s ease-in;
      color: white;
      cursor: pointer;
    }

    &.cancel-color {
      background: rgb(255, 92, 92);
      color: #808285;
      transition: 0.13s ease-in;
      cursor: pointer;
    }
  }
}

.select-page {
  overflow-y: auto;
  max-height: 440px;
  margin-top: 24px;
  color: #3e4760;

  li {
    display: flex;
    background: white;
    padding-top: 9.75px;
    padding-bottom: 9.75px;
    border-top: none;
    border-radius: 5px;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    padding-right: 16px;
    justify-content: space-between;
    align-items: baseline;

    .text-column {
      flex-direction: column;
      .child-name {
        font-weight: 700;
        font-size: 12px;
      }

      .child-id {
        font-weight: 400;
        font-size: 14px;
      }

      .child-sku {
        font-weight: 400;
        font-size: 12px;
        color: #7b7b7b;
      }
    }

    span {
      display: flex;
      justify-self: flex-end;

      input {
        width: 68px;
        padding: 3px 9px 3px;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
      }

      button {
        border: none;
        background: white;

        img {
          padding-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}

.toast-container {
  position: fixed;
  bottom: 10px;
  right: 30px;
  display: flex;
  background: #daeebf;
  min-width: 350px;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  border-radius: 10px 0 0 10px;
  align-items: flex-start;

  &.toast-toggle {
    opacity: 0%;
  }

  img {
    padding-top: 7px;
    padding-right: 7px;
  }

  .toast-text {
    display: flex;
    align-self: center;
  }

  &::before {
    content: '';
    width: 10px;
    border-radius: 10px 0 0 10px;
    background: #6bb700;
    min-height: inherit;
  }

  // .toast-body {
  //   border-radius: 10px 0px 0px 10px;
  //   justify-content: center;

  //   .toast-text {
  //     justify-content: center;
  //   }

  //   img {
  //     height: 18px;
  //     width: 18px;
  //   }
  // }
}

.aurelia-hide {
  display: block !important;
  visibility: hidden;
}
