$hovercolor: rgba(47, 141, 248, 0.99);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', 'open sans', 'Overpass', sans-serif;
}

.modal-body {
  width: 751px;
  height: 661px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px 32px;
  border: 1px solid #c4c4c4;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  .productlist ul {
    max-height: 450px;
    overflow-y: auto;
  }

  .products:hover {
    background: $hovercolor;
    transition: 0.13s ease-in-out;
  }
}

.modal-content {
  height: 570px;
  .supplier-list {
    ul {
      margin-top: 24px;

      li {
        list-style: none;
        background: white;
        width: 686px;
        padding-top: 9.75px;
        padding-bottom: 9.75px;
        border-top: none;
        border-radius: 5px;
        padding-left: 20px;
        border: 1px solid #e5e5e5;
        overflow-y: auto;
      }
    }

    a {
      text-decoration: none;
      color: black;
    }
  }

  .product-list {
    ul {
      margin-top: 24px;
      overflow-y: auto;
      max-height: 440px;
      li {
        list-style: none;
        background: white;
        padding-top: 9.75px;
        padding-bottom: 9.75px;
        border-top: none;
        border-radius: 5px;
        padding-left: 20px;
        border: 1px solid #e5e5e5;
      }
    }
    a {
      text-decoration: none;
      color: black;
      padding: 10px 100px;
      padding-left: 0;
    }
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      background: white;
      font-size: 20px;
      line-height: 28px;
    }

    button {
      background: white;
      text-decoration: none;
      border: none;
    }
  }
}

.modalsearchbox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 11px 30px 11px 12px;
  gap: 10px;
  height: 42px;
  margin-top: 20px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 3px;

  input {
    text-decoration: none;
    border: none;
    background: white;
    padding: 7px 400px 7px 12px;
    outline: 0;

    ::placeholder {
      color: #c4c4c4;
    }
  }
}

.button-wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    padding: 12px 24px;
    font-weight: 400;
    font-size: 14px;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
  }
}

.aurelia-hide {
  display: block !important;
  visibility: hidden;
}
